@import "../utilities/variables";

.listApplications {
    padding: 2rem;
    background: rgb(241, 241, 241);
    .listWrapper {
        margin-bottom: 1rem;
    }
    .btn {
        margin-right: .5rem;
        text-transform: capitalize;
    }
}