@import "../utilities/variables";

.listContainer {
    margin-bottom: 5rem;
}
.listApplications {
    padding: 2rem;
    background: rgb(241, 241, 241);
    border-top: 2px solid $yellow2;
    .listApplicationsHeader {
        padding-bottom: .5rem;
        margin-bottom: 2rem;
        border-bottom: 3px solid $green1;
        h2 {
            margin-bottom: .5rem;
        }
        .date {
            font-size: .75rem;
        }
    }
    .listWrapper {
        margin-bottom: 1rem;
        .field {
            margin-bottom: .25rem;
        }
    }
    .btn {
        margin-right: .5rem;
        text-transform: capitalize;
        background: $green1;
        border: none;
        &:hover,
        &:active,
        &:focus {
            background: $green2;
        }
    }
}