@import "../utilities/variables";

.btn {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 125px;
    height: 125px;
    padding: 0 !important;
    border-radius: 50% !important;
    line-height: 1rem !important;
    overflow: hidden;
    background: $green1 !important;
    border: none !important;
    &:hover,
    &:active,
    &:focus {
        background: $green2 !important;
        filter: drop-shadow(0 0 0.5rem $green2);
    }
    .icon {
        font-size: 12rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 768px) {
    .btn {
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        height: 60px;
        width: 100%;
        padding: 1rem !important;
        border-radius: 0 !important;
        .icon {
            font-size: 5rem;
        }
    }
}