@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;800&display=swap');

// Color Palette
$orange: #f58639;
$yellow1: #f6b41f;
$yellow2: #ffce2d;
$green1: #94c950;
$green2: #39b54a;
$error: rgb(236, 65, 65);

$background-color: #d5e2ed;
$text-dark: #333638;
$text-light: #f0f0f0;
$font: 'Raleway', sans-serif;
$input-bg: #fff;